<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class=“row”>
    <div><h2>签到表</h2></div>

    <div>
        <div id="grid1" ui-grid="gridOptions" ui-grid-edit ui-grid-cellNav external-scopes="clickHandler"  ui-grid-pagination class="grid"></div>
    </div>

    <button style="width: 100px;height:50px;text-align: center;background-color: rgba(10, 155, 153, 0.69);color: rgb(0, 0, 0)" ng-click="addData()">录入</button>
    <button style="width: 100px;height:50px;text-align: center;background-color: rgba(10, 155, 153, 0.69);color: rgb(0, 0, 0)" ng-click="save()">保存</button>
</div>
</body>
</html>